league: Ligue_1

model:
  voting: #Percentage of long_term_form/short_term_form perencage. Should add to 1
    long_term_form_vote_perc: 0.6
    short_term_form_vote_perc: 0.4
  matchdays_to_drop: 4
  regressor: PoissonRegressor #One of the available [LinearRegression, PoissonRegressor, SVR, XGBRegressor]

bettor:
  initial_bank: 60
  kelly_cap: 0.05 #The max percentage of the current bankroll to bet

data_gathering:
  long_term_form: null #Months of long_form, null indicates season long form
  short_term_form: 3 #Months of short-term form
  seasons_to_gather: ['2017', '2018', '2019', '2020', '2021', '2022', '2023'] #List of the seasons to gather for the model to be trained on. Subset of ['2017', '2018', '2019', '2020', '2021', '2022', '2023']. Keep in mind that 2020 season was covid-season
  current_season: '2023'
  paths:
    EPL: 
      data_co_uk_path: 'europeanfootballleaguepredictor/data/leagues/EPL/DataCoUkFiles/'
      evaluation_output: 'europeanfootballleaguepredictor/data/leagues/EPL/evaluation/'
      database: 'europeanfootballleaguepredictor/data/database/EPL_database.db'
    La_Liga:
      data_co_uk_path: 'europeanfootballleaguepredictor/data/leagues/La_Liga/DataCoUkFiles/'
      evaluation_output: 'europeanfootballleaguepredictor/data/leagues/La_Liga/evaluation/'
      database: 'europeanfootballleaguepredictor/data/database/La_Liga_database.db'
    Bundesliga:
      data_co_uk_path: 'europeanfootballleaguepredictor/data/leagues/Bundesliga/DataCoUkFiles/'
      evaluation_output: 'europeanfootballleaguepredictor/data/leagues/Bundesliga/evaluation/'
      database: 'europeanfootballleaguepredictor/data/database/Bundesliga_database.db'
    Serie_A:
      data_co_uk_path: 'europeanfootballleaguepredictor/data/leagues/Serie_A/DataCoUkFiles/'
      evaluation_output: 'europeanfootballleaguepredictor/data/leagues/Serie_A/evaluation/'
      database: 'europeanfootballleaguepredictor/data/database/Serie_A_database.db'
    Ligue_1:
      data_co_uk_path: 'europeanfootballleaguepredictor/data/leagues/Ligue_1/DataCoUkFiles/'
      evaluation_output: 'europeanfootballleaguepredictor/data/leagues/Ligue_1/evaluation/'
      database: 'europeanfootballleaguepredictor/data/database/Ligue_1_database.db'
  bookmaker: 
    EPL: 
      url: 'https://en.stoiximan.gr/sport/soccer/england/premier-league/1/' #The corresponding stoiximan website url of the predicted league. Might not work in countries outside Greece.
      dictionary_path: 'europeanfootballleaguepredictor/data/leagues/EPL/dictionaries/bookmaker.yaml'
    La_Liga:
      url:  'https://en.stoiximan.gr/sport/soccer/spain/laliga/5/'
      dictionary_path:  'europeanfootballleaguepredictor/data/leagues/La_Liga/dictionaries/bookmaker.yaml'
    Bundesliga:
      url:  'https://en.stoiximan.gr/sport/soccer/germany/bundesliga/216/'
      dictionary_path:  'europeanfootballleaguepredictor/data/leagues/Bundesliga/dictionaries/bookmaker.yaml'
    Serie_A:
      url:  'https://en.stoiximan.gr/sport/soccer/italy/serie-a/1635/'
      dictionary_path:  'europeanfootballleaguepredictor/data/leagues/Serie_A/dictionaries/bookmaker.yaml'
    Ligue_1:
      url: 'https://en.stoiximan.gr/sport/soccer/france/ligue-1/215/'
      dictionary_path:  'europeanfootballleaguepredictor/data/leagues/Ligue_1/dictionaries/bookmaker.yaml'
  data_co_uk: 
    EPL:  
      url: 'https://www.football-data.co.uk/mmz4281/2324/E0.csv' #The url that downloads the Data.co.uk dataset of the current season
      dictionary_path: 'europeanfootballleaguepredictor/data/leagues/EPL/dictionaries/data_co_uk.yaml'
    La_Liga:
      url:  'https://www.football-data.co.uk/mmz4281/2324/SP1.csv'
      dictionary_path:  'europeanfootballleaguepredictor/data/leagues/La_Liga/dictionaries/data_co_uk.yaml'
    Bundesliga:
      url:  'https://www.football-data.co.uk/mmz4281/2324/D1.csv'
      dictionary_path:  'europeanfootballleaguepredictor/data/leagues/Bundesliga/dictionaries/data_co_uk.yaml'
    Serie_A:
      url:  'https://www.football-data.co.uk/mmz4281/2324/I1.csv'
      dictionary_path:  'europeanfootballleaguepredictor/data/leagues/Serie_A/dictionaries/data_co_uk.yaml'
    Ligue_1:
      url:  'https://www.football-data.co.uk/mmz4281/2324/F1.csv'
      dictionary_path:  'europeanfootballleaguepredictor/data/leagues/Ligue_1/dictionaries/data_co_uk.yaml'
  fixture_download:
    EPL:
      url: 'https://fixturedownload.com/download/epl-2023-GMTStandardTime.csv'
      dictionary_path: 'europeanfootballleaguepredictor/data/leagues/EPL/dictionaries/fixture_download.yaml'
    La_Liga:
      url:  'https://fixturedownload.com/download/la-liga-2023-UTC.csv'
      dictionary_path:  'europeanfootballleaguepredictor/data/leagues/La_Liga/dictionaries/fixture_download.yaml'
    Bundesliga:
      url:  'https://fixturedownload.com/download/bundesliga-2023-UTC.csv'
      dictionary_path:  'europeanfootballleaguepredictor/data/leagues/Bundesliga/dictionaries/fixture_download.yaml'
    Serie_A:
      url:  'https://fixturedownload.com/download/serie-a-2023-UTC.csv'
      dictionary_path:  'europeanfootballleaguepredictor/data/leagues/Serie_A/dictionaries/fixture_download.yaml'
    Ligue_1:
      url:  'https://fixturedownload.com/download/ligue-1-2023-RomanceStandardTime.csv'
      dictionary_path:  'europeanfootballleaguepredictor/data/leagues/Ligue_1/dictionaries/fixture_download.yaml'
                  